<div>
    <h2 class="text-center font-merri text-4xl">Features</h2>
</div>

{# <ul>
    {% for item in page.items %}
        <li>{{ item.name }}</li>
    {% else %}
        <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
</ul> #}