<div class="flex justify-between items-center mb-24">

    <img src="/static/Logo.png" alt="App logo" width="230px">

    <div class="menu flex items-center ">

        <a href="#" class="mr-8 no-underline text-black">Help</a>

        <a href="#" class="mr-8 no-underline text-black">About</a>

        <button class="mr-8 py-2 px-5 bg-turquoise text-white rounded font-merri">
            Subscribe
        </button>

        <button class="py-2 px-5 bg-transparent text-turquoise rounded border-2 border-turquoise">
            GB
        </button>

    </div>

</div>