{% import "macros/button.njk" as button %}

<div class="flex mb-24 a-vp:flex-col-reverse a-vp:px-3 items-center c-vp:flex-row c-vp:justify-between">

    <div class="max-w-md a-vp:w-full a-vp:text-center c-vp:w-5/12 c-vp:text-left">

        <h1 class="font-merri text-ty-h1 font-bold">Making Learning Fun </h1>

        <p class="font-sourceSans text-xl mb-4 text-black-2">
            Home School Plus is here to help you teach your child maths in a fun, 
            easy and accessible way. A new challenge every day.
        </p>

        {{ button.primaryButton("Get Worksheets", "text-ty-h5 mb-5") }}

        <div class="flex items-center a-vp:justify-center c-vp:justify-start">

            <div class="mr-2">

                <p class="text-base font-sourceSans leading-none text-black-2">From the creators of</p>

                <p class="text-base font-sourceSans leading-none font-semibold">Exam Papers Plus</p>

            </div>

            <div>
                <img src="/static/images/epp_logo.png" alt="EPP logo" width="35px">
            </div>

        </div>

    </div>

    <div class="flex items-center a-vp:w-full a-vp:mb-5 c-vp:mb-0 c-vp:w-6/12 d-vp:w-8/12 e-vp:w-6/12">

        <img src="/static/images/undraw_studying.png" alt="EPP logo" class="a-vp:mx-auto e-vp:mr-3" width="80%">

    </div>

</div>