{% import "macros/button.njk" as button %}

<div class="get-worksheets a-vp:px-3 e-vp:px-0">

	<h1 class="font-merri text-ty-h1 font-bold text-center mb-4">
        A new Worksheet everyday
  	</h1>

	<p class="font-merri text-center text-ty-h5">
		More than <b>200+ worksheets</b> available for each subject. 
		Get 
	</p>
	<p class="font-merri text-center mb-4 text-ty-h5">
		all of them for a price of £36, equivalent to £3 per month
	</p>

	<div class="flex justify-center mb-1">

		{{ button.primaryButton("Get Worksheets") }}

	</div>

	<p class="font-merri text-center font-bold text-ty-p">*Billed at one time fee of £36</p>

</div>