{% import "macros/button.njk" as button %}

<div class="get-worksheets a-vp:px-3 e-vp:px-0">

	<h1 class="font-merri a-vp:text-ty-h2 c-vp:text-ty-h1 font-bold text-center mb-4">
        A new Worksheet everyday
  	</h1>

	<p class="font-merri text-center text-ty-h5">
		More than <b>200+ worksheets</b> available for each subject.
		Get 
	</p>
	<p class="font-merri text-center mb-4 text-ty-h5">
		all of them for a price of <span class="currency"></span>36, equivalent to <span class="currency"></span>3 per month
	</p>

	<div class="flex justify-center mb-1">

		{{ button.primaryButton("Get Worksheets", "text-ty-h5 btn-purchase") }}

	</div>

	<p class="font-merri text-center font-bold text-ty-p">*Billed at one time fee of <span class="currency"></span>36</p>

</div>