{% import "macros/button.njk" as button %}

<div class="get-worksheets a-vp:px-3 e-vp:px-0">

	<h1 class="font-merri a-vp:text-beta c-vp:text-alpha font-bold text-center mb-4 reveal">
        A new Worksheet everyday
  	</h1>

	<div class="reveal">
		<p class="font-merri text-center text-delta">
			More than <b>200+ worksheets</b> available for each subject.
			Get 
		</p>
		<p class="font-merri text-center mb-4 text-delta">
			all of them for a price of 
			<span class="currency"></span>
			<span class="one-time-price"></span>,
			equivalent to 
			<span class="currency"></span>
			<span class="price-per-month"></span> 
			per month
		</p>
	</div>

	<div class="reveal">
		<div class="flex justify-center mb-1">

			{{ button.primaryButton("Get Worksheets", "text-delta btn-to-purchase") }}

		</div>

		<p class="font-merri text-center font-bold text-epsilon">
			*Billed at one time fee of <span class="currency"></span>
			<span class="one-time-price"></span>
		</p>

	</div>

</div>