<div class="bg-turquoise px-3 py-3 rounded-lg w-info hover-target absolute top-0 z-30">

	<div>

		<p class="font-sourceSans font-bold text-ty-ps mb-3">
			Kindergarden Worksheet Bundle - $ 99.00
		</p>

		<p class="font-sourceSans text-xs">Topics</p>

		<p class="font-sourceSans text-xs">Grammer x 1</p>
		<p class="font-sourceSans text-xs">Maths x 1</p>

	</div>

</div>