<div class="bg-turquoise px-3 py-3 rounded-lg w-info hover-target absolute top-0 z-30">

	<div>

		<p class="font-sourceSans font-bold text-ty-ps text-white mb-3">
			{{ item.name }} - <span class="currency"></span>{{ item.price }}
		</p>

		<p class="font-sourceSans text-xs text-white">Topics</p>

		<p class="font-sourceSans text-xs text-white">Grammer x 1</p>
		<p class="font-sourceSans text-xs text-white">Maths x 1</p>

	</div>

</div>