<div class="mb-32">

	<h2 class="text-center text-ty-h2 font-merri font-bold mb-8">
    	Purchase Worksheets
  	</h2>

	<div class="flex a-vp:flex-col-reverse d-vp:flex-row items-center justify-between a-vp:px-3 e-vp:px-0">

		<div class="px-10 pb-10 pt-5 bg-lightCyan rounded-large a-vp:w-full e-vp:w-5/12 d-vp:w-7/12">

			<p class="font-sourceSans font-semibold text-ty-p mb-3">Select Country</p>

			{# country selection #}
			<div class="flex items-center mb-8">

				<div class="a-vp:mr-8 c-vp:mr-24 flex items-center">
					<input type="radio" id="usa" name="country" value="USA" class="cursor-pointer mr-2">
					<label for="usa" class="cursor-pointer font-sourceSans text-ty-p">U.S.A</label><br>
				</div>

				<div class="a-vp:mr-8 c-vp:mr-24 flex items-center">
					<input type="radio" id="uk" name="country" value="UK" class="cursor-pointer mr-2">
					<label for="uk" class="cursor-pointer font-sourceSans text-ty-p">U.K</label><br>
				</div>

				<div class="flex items-center">
					<input type="radio" id="india" name="country" value="India" class="cursor-pointer mr-2">
					<label for="india" class="cursor-pointer font-sourceSans text-ty-p">India</label><br>
				</div>

			</div>
			{# country selection #}

			<p class="font-sourceSans font-semibold text-ty-p mb-4">Worksheets to purchase</p>

			{# worksheet selection #}
			<div class="mb-8">

				{% for item in worksheet.worksheets %}

					<div class="flex items-center justify-between bg-white rounded-small border-tiny border-black px-5 py-1 mb-2">

						<div class="flex items-center">

							<input type="checkbox" name="worksheets" value={{ item.name }} id={{ item.id }}  class="cursor-pointer mr-6 border-2 border-black">

							<label for={{ item.id }}>

								<div class="cursor-pointer">

									<p class="font-sourceSans text-ty-ps font-semibold">{{ item.name }}</p>

									<p class="font-sourceSans text-xs">{{ item.ageGroup }}</p>

								</div>
							</label>

						</div>

						<img src="/static/images/info.png" alt="info" width="24px" class="cursor-pointer"/>

					</div>

				{% endfor %}

			</div>
			{# worksheet selection #}

			<div class="mb-3">

				<button class="py-2 px-5 bg-turquoise text-white text-ty-p font-bold rounded-small font-merri a-vp:w-full border-2 border-transparent hover:border-turquoise hover:bg-transparent hover:text-turquoise transition-all duration-300">
      				Purchase
    			</button>

			</div>

			<p class="font-sourceSans font-semibold text-ty-ps text-center">Not Ready to Purchase? <a href="" class="text-blue-500">Get samples</a> of our worksheets</p>

		</div>

		<div class="a-vp:mb-6 d-vp:mb-0 flex justify-center items-center d-vp:w-1/2">
			<img src="/static/images/undraw_booking.png" alt="Undraw booking" width="90%"/>
		</div>

	</div>

</div>