{% import "macros/button.njk" as button %}

<div class="mb-32 purchase-worksheets overflow-hidden" id="purchase-worksheets">

	<h2 class="text-center text-ty-h2 font-merri font-bold mb-8 reveal">
    	Purchase Worksheets
  	</h2>

	<div class="flex a-vp:flex-col d-vp:flex-row items-center justify-between e-vp:px-0 overflow-hidden">

		<div class="a-vp:px-2 b-vp:px-10 pb-10 pt-5 bg-lightCyan rounded-large a-vp:w-full d-vp:min-w-half d-vp:max-w-half d-vp:mr-3 e-vp:mr-0 reveal-bottom">

			{% include "sections/select-country.njk" %}

			<p class="font-sourceSans font-semibold text-ty-p mb-4">Worksheets to purchase</p>

			<div class="mb-8">

				{% for item in worksheet.worksheets %}

					{% include "sections/worksheet-item.njk" %}

				{% endfor %}

			</div>

			<div class="mb-3">

				{{ button.primaryButton("Purchase", "w-full text-ty-p font-bold mb-3 btn-purchase") }}

			</div>

			<p class="font-sourceSans font-semibold text-ty-ps text-center">
				Not Ready to Purchase? 
				<a href="" onclick="return false;" class="btn-get-samples text-blue-500">
					Get samples
				</a> 
				of our worksheets
			</p>

		</div>

		<div class="a-vp:mt-6 d-vp:mt-0 flex justify-center items-center a-vp:w-full d-vp:min-w-img d-vp:max-w-img overflow-hidden">
			<img src="/static/images/undraw_booking.svg" alt="Undraw booking" width="100%" class="reveal-right"/>
		</div>

	</div>

</div>