<div class="flex items-center mb-8">

	<p class="font-sourceSans font-semibold text-ty-p mr-6">Select Country: </p>

	<div class="country-container flex items-center">
		<div class="relative ">

			<div class="flex cursor-pointer items-center country-selected">
				<img src="/static/images/us-flag.png"  alt="flag" width="20px" class="mr-2"/>
				<h6 class="mr-5 font-merri font-bold text-ty-h6">United States</h6>
			</div>

			<div class="dropdown absolute bg-skyBlue rounded-small p-3 w-dropdown whitespace-nowrap z-50">

				<div class="flex mb-2 cursor-pointer items-center country-option">
					<img src="/static/images/us-flag.png"  alt="flag" width="20px" class="mr-2"/>
					<h6 class="mr-5 font-merri font-bold text-ty-h6">United States</h6>
				</div>

				<div class="flex mb-2 cursor-pointer items-center country-option">
					<img src="/static/images/gb-flag.png" alt="flag" width="20px" class="mr-2"/>
					<h6 class="mr-5 font-merri font-bold text-ty-h6">Great Britain</h6>
				</div>

				<div class="flex cursor-pointer items-center country-option">
					<img src="/static/images/in-flag.png" alt="flag" width="20px" class="mr-2"/>
					<h6 class="mr-5 font-merri font-bold text-ty-h6">India</h6>
				</div>

			</div>

		</div>

		<p class="font-sourceSans text-ty-ps text-turquoise cursor-pointer change hover:text-blue-400 transition-all duration-200">
      Change
    </p>

	</div>

</div>