{% import "macros/button.njk" as button %}

<div class="bg-skyBlue mx-auto a-vp:w-11/12 c-vp:w-card px-5 py-5 rounded-large border-transparent">

    <p class="text-center font-merri font-bold text-ty-p subscribe-text">
        Subscribe to our newsletter to hear about exciting offers & new products!
    </p>

    <form id="newsletter-form" type="POST">
        <div class="flex items-center mt-4 b-vp:justify-between b-vp:flex-row a-vp:flex-col">

            <input type="email" name="email" placeholder="Email Address" class="py-2 pl-3 text-ty-p flex-1 mr-3 rounded border-2 border-turquoise font-sourceSans a-vp:w-full" required/>

            {{ button.secondaryButton('Subscribe', 'btn-subscribe', type="sumbit") }}

        </div>
    </form>

</div>