{% import "macros/button.njk" as button %}

<div class="bg-skyBlue mx-auto a-vp:w-11/12 c-vp:w-card px-5 pt-5 pb-8 rounded-large border-transparent">

    <p class="text-center font-merri font-bold pb-4 text-ty-p">
        Subscribe to our newsletter to hear about exciting offers & new products!
    </p>

    <form>
        <div class="flex items-center b-vp:justify-between b-vp:flex-row a-vp:flex-col">

            <input type="text" placeholder="Email Address" class="py-2 pl-3 text-ty-p flex-1 mr-3 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

            {{ button.secondaryButton('Subscribe') }}

        </div>
    </form>

</div>