{% import "macros/button.njk" as button %}

<div class="flex justify-between items-center a-vp:mb-8 c-vp:mb-24 a-vp:px-3 a-vp:flex-col b-vp:flex-row e-vp:px-0">

	<a href="/">
		<img src="/static/images/Logo.svg" alt="App logo" width="230px"/>
	</a>

</div>