<div class="worksheet-item flex items-center justify-between bg-white rounded-small border-tiny border-black px-2 py-2 mb-2 cursor-pointer hover:border-turquoise transition-all duration-100">

    <div class="flex items-center">

        <img src="/static/images/outline.svg" alt="checkbox"  class="checkbox-img mr-3 select-none"/>

        <div class="select-none">

            <p class="font-sourceSans text-ty-ps font-semibold leading-none mb-1">
                {{ item.name }} - <span class="currency"></span>{{ item.price }}
            </p>

            <p class="font-sourceSans text-xs leading-none">{{ item.ageGroup }}</p>

        </div>

    </div>

    <div class="hover-trigger relative">

        <img src="/static/images/info.svg" alt="info" width="24px" class="cursor-pointer fill-turquoise"/>

        {# info-card #}
        {% include "sections/info-card.njk" %}
        {# info-card #}

        <div class="absolute tooltip"></div>

    </div>

</div>