<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <!-- capture the CSS content as a Liquid variable -->
            {% set css %}{% include "app.compiled.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/app.compiled.css">
        {% endif %}
    </head>
    <body>
        <a href="#main" class="skip-link">Skip to main content</a>

        <div class="max-w-wrap mx-auto pt-6 mb-20">
            {# <div class="flex justify-between items-center a-vp:mb-8 c-vp:mb-24 a-vp:px-3 a-vp:flex-col b-vp:flex-row e-vp:px-0"> #}

            <div class="flex justify-between items-center a-vp:mb-8 c-vp:mb-24 a-vp:px-3 a-vp:flex-row b-vp:flex-row e-vp:px-0">

                <a href="/">
                    <img src="/static/images/Logo.svg" alt="App logo" width="230px"/>
                </a>

                {# <a href="/" class="mr-8 no-underline text-black a-vp:hidden d-vp:block hover:text-turquoise transition-all duration-300"> #}
                <a href="/" class="a-vp:mr-0 b-vp:mr-8 no-underline text-black hover:text-turquoise transition-all duration-300">                 
                    Home
                </a>

            </div>
        </div>

        {{ content | safe }}

        <div class="bg-skyBlue">
            <div class="max-w-wrap mx-auto">
                {% include "sections/footer.njk" %}
            </div>
        </div>

    </body>
</html>