<div class="bg-black-60 w-screen h-screen fixed top-0 left-0 right-0 bottom-0 z-50">

    <div class="pt-3 px-5 pb-5 bg-lightCyan rounded-small relative a-vp:w-11/12 c-vp:w-card mx-auto a-vp:mt-32 c-vp:mt-48">

        <h4 class="text-ty-h4 font-merri font-bold mb-5">
            {% block header %}{% endblock %}
        </h4>

        {% block close %}{% endblock %}

        <section class="content-section">
            {% block content %}{% endblock %}
        </section>

    </div>

</div>