{% extends "modal/modal-shell.njk" %}

{% block content %}

	<div class="flex flex-col items-center">

		<img src="/static/images/order-complete.png" alt="Order Complete" width="190px" class="mb-4"/>

		<h4 class="text-ty-h4 font-bold font-merri mb-4">Order Complete!</h4>

		<p class="font-bold font-sourceSans text-center text-ty-p">Please check your inbox for confirmation.</p>

		<p class="text-center font-sourceSans text-ty-p mb-10">
      Add <a href="" class="text-blue-500">subscribe@topclassplus.co.uk</a> to your contact list to avoid emails going to junk or spam.
    </p>

		<button class="py-2 px-5 bg-turquoise text-white text-ty-p font-bold rounded font-merri a-vp:w-full border-2 border-transparent hover:border-turquoise hover:bg-transparent hover:text-turquoise transition-all duration-300">
      Close
    </button>

	</div>

{% endblock %}