{% extends "modal/modal-shell.njk" %}

{% block header %}
	Complete your order
{% endblock %}

{% block close %}
	<img src="/static/images/close.png" alt="close" class="absolute close-modal cursor-pointer" width="20px"/>
{% endblock %}

{% block content %}

	<div class="flex items-center mb-3">

		<img src="/static/images/ico-secure.png" alt="ICO Secure" width="23px" class="mr-1"/>

		<p class="text-ty-p font-sourceSans mr-3">SSL Secured Site</p>

		<img src="/static/images/stripe.png" alt="Stripe" width="120px"/>

	</div>

	<div class="flex mb-10">
		{% for item in card.cards %}

			<img src={{ item.source }} alt={{ item.alt }} width="40px" class="mr-2"/>

		{% endfor %}
	</div>

	<form>

		<input type="text" placeholder="First Name" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

		<input type="text" placeholder="Last Name" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

		<input type="text" placeholder="Email Address" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

		<input type="text" placeholder="Card Number" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

		<button type="submit" class="py-2 px-5 bg-turquoise text-white text-ty-p font-bold rounded-small font-merri a-vp:w-full border-2 border-transparent hover:border-turquoise hover:bg-transparent hover:text-turquoise transition-all duration-300">
      		Pay
    	</button>

	</form>

{% endblock %}