{% import "macros/button.njk" as button %}
{% extends "modal/modal-shell.njk" %}

{% block header %}
        Get Worksheet Samples
{% endblock %}

{% block close %}
	<img src="/static/images/close.png" alt="close" class="absolute close-modal cursor-pointer" width="20px"/>
{% endblock %}

{% block content %}

	<div class="hidden check-inbox">
		<p class="text-epsilon font-merri text-center">
			Please check your inbox for samples
		</p>
	</div>

	<form id="get-sample-form" type="POST">

		<input type="text" name="name" placeholder="Name" class="py-2 pl-3 text-epsilon flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full" required/>

		<input type="email" name="email" placeholder="Email Address" class="py-2 pl-3 text-epsilon flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full" required/>

		{{ button.primaryButton("Get Samples", "w-full text-epsilon font-bold mb-3", type = "submit") }}

	</form>

{% endblock %}