{% extends "modal/modal-shell.njk" %}

{% block header %}
        Get Worksheet Samples
    {% endblock %}

{% block content %}

    <form>

        <input type="text" placeholder="First Name" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

        <input type="text" placeholder="Last Name" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

        <input type="text" placeholder="Email Address" class="py-2 pl-3 text-ty-p flex-1 mr-3 mb-5 rounded border-2 border-turquoise font-sourceSans a-vp:w-full"/>

        <button type="submit" class="py-2 px-5 bg-turquoise text-white text-ty-p font-bold rounded-small font-merri a-vp:w-full border-2 border-transparent hover:border-turquoise hover:bg-transparent hover:text-turquoise transition-all duration-300">
      		Get Samples
    	</button>

    </form>

{% endblock %}