{% extends "modal/modal-shell.njk" %}

{% block content %}

	<div class="flex flex-col items-center">

		<h4 class="text-ty-h4 font-bold font-merri mb-10">
			Worksheet Info
		</h4>

		<button class="py-2 px-5 bg-turquoise text-white text-ty-p font-bold rounded-small font-merri a-vp:w-full border-2 border-transparent hover:border-turquoise hover:bg-transparent hover:text-turquoise transition-all duration-300">
      Close
    </button>

	</div>

{% endblock %}