{% import "macros/button.njk" as button %}
{% extends "modal/modal-shell.njk" %}

{% block content %}

	<div class="flex flex-col items-center">

		<h4 class="text-gamma font-bold font-merri mb-10">
			Worksheet Info
		</h4>

		{{ button.primaryButton("Close", "w-full text-epsilon font-bold mb-3 close-btn") }}

	</div>

{% endblock %}