@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	html {
		scroll-behavior: smooth;
	}
	ol,
	ul {
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 20px;
	}
	.position-middle {
		top: -20px;
		left: 44%;
	}
	.close-modal {
		right: 10px;
		top: 10px;
	}
	.dropdown {
		top: -10px;
		@apply hidden;
	}
	.dropdown.show {
		@apply block;
	}
	.modal {
		@apply hidden;
	}
	.modal.show {
		@apply block;
	}
	.worksheet-item.selected {
		@apply border-turquoise bg-skyBlue;
	}
	.hover-trigger .hover-target,
	.tooltip {
		@apply hidden;
	}
	.hover-trigger:hover .hover-target {
		@apply block;
		top: 35px;
		right: 12px;
	}
	.hover-trigger:hover .svg {
		@apply fill-turquoise stroke-turquoise duration-100 ease-in-out;
	}
	.hover-trigger:hover .tooltip {
		@apply h-0 w-0 block;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid #39cccc;
		transform: rotate(225deg);
		top: 27px;
		left: 3px;
	}
	.check-container {
		@apply relative transition-all duration-100 ease-in-out cursor-pointer;
		@apply rounded-sm border-2 border-black bg-white;
		height: 18px;
		width: 18px;
	}
	.check-container.checked {
		@apply relative border-2 border-transparent bg-turquoise;
	}
	.checkmark {
		@apply absolute inline-block border-b-2 border-r-2 border-white;
		height: 14px;
		width: 6px;
		bottom: 2px;
		left: 4px;
		transform: rotate(45deg);
	}
}
