@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.position-middle {
		top: -20px;
		left: 44%;
	}
	.close-modal {
		right: 10px;
		top: 10px;
	}
	.dropdown {
		top: -10px;
		@apply hidden;
	}
	.dropdown.show {
		@apply block;
	}
	.modal {
		@apply hidden;
	}
	.modal.show {
		@apply block;
	}
	.worksheet-item.selected {
		@apply border-turquoise bg-skyBlue;
	}
	.hover-trigger .hover-target,
	.tooltip {
		@apply hidden;
	}
	.hover-trigger:hover .hover-target {
		@apply block;
		top: 35px;
		right: 12px;
	}
	.hover-trigger:hover .tooltip {
		@apply h-0 w-0 block;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid #39cccc;
		transform: rotate(225deg);
		top: 27px;
		left: 3px;
	}
}
