---
layout: base.njk
title: Top Class Plus
---

<main id="main">

	<div class="bg-skyBlue pt-6 pb-20">

		<div class="max-w-wrap mx-auto">

			{% include "sections/top-nav.njk" %}

			{% include "sections/banner.njk" %}

			{% include "sections/features.njk" %}

			{% include "sections/get-worksheets.njk" %}

		</div>

	</div>

	<div class="bg-white pt-24 pb-20">

		<div class="max-w-large mx-auto px-3">

			{% include "sections/purchase-worksheet.njk" %}

		</div>

		<div class="max-w-wrap mx-auto">

			{% include "sections/subscribe.njk" %}

		</div>

	</div>

	<div class="bg-skyBlue">

		<div class="max-w-wrap mx-auto">

			{% include "sections/footer.njk" %}

		</div>

	</div>

	<div class="sample-modal modal">
		{% include "modal/sample-modal.njk" %}
	</div>

	<div class="worksheet-info-modal modal">
		{% include "modal/worksheet-info-modal.njk" %}
	</div>

	<div class="order-complete-modal modal">
		{% include "modal/order-complete-modal.njk" %}
	</div>

	<div class="purchase-modal modal">
		{% include "modal/purchase-modal.njk" %}
	</div>

</main>