---
layout: base.njk
title: Minimal boilerplate for new projects built with Eleventy, Tailwind and PostCSS
---

<main id="main">

	<div class="bg-skyBlue pt-6 pb-20">

		{# app wrapper #}
		<div class="max-w-wrap mx-auto">

			{# top nav #}
			{% include "top-nav.njk" %}
			{# top nav #}

			{# banner section #}
			{% include "banner.njk" %}
			{# banner section #}

			{# features section #}
			{% include "features.njk" %}
			{# features section #}

			{# get worksheets section #}
			{% include "get-worksheets.njk" %}
			{# get worksheets section #}

		</div>
		{# app wrapper #}

	</div>

	<div class="bg-white pt-24 pb-20">

		{# app wrapper #}
		<div class="max-w-wrap mx-auto">

			{# purchase worksheet section #}
			{% include "purchase-worksheet.njk" %}
			{# purchase worksheet section #}

			{# subscribe section #}
			{% include "subscribe.njk" %}
			{# subscribe section #}

		</div>
		{# app wrapper #}

	</div>

	<div class="bg-skyBlue">

		{# app wrapper #}
		<div class="max-w-wrap mx-auto">

			{# footer section #}
			{% include "footer.njk" %}
			{# footer section #}

		</div>
		{# app wrapper #}

	</div>

</main>