---
layout: page.njk
title: Terms
---

<main id="main">

    <div class="max-w-wrap mx-auto px-3">

        <h2 class="text-ty-h2 font-bold mb-5">Terms and Conditions</h2>
        <p class="text-ty-p mb-10">
            Daily Quest Plus knows that you care how information about you is used and shared, 
            and we’re not in the business of selling customer information. You can find out more about
             how your personal information is protected below:
        </p>

        <p class="text-ty-p mb-10">
            The information we gather from customers helps us personalise and continually improve your 
            experience. Here are the types of information we gather: We receive and store any information 
            you enter on our Web site or give us in any other way. You can choose not to provide certain 
            information, but then you might not be able to take advantage of many of our features. We use 
            the information that you provide for such purposes as responding to your requests, customising 
            future shopping for you, improving our stores, and communicating with you. We receive and store 
            certain types of information whenever you interact with us.
        </p>

        <p class="text-ty-p mb-10">
            Information about our customers is an important part of our business, and we are not in the 
            business of selling it to others. We work to protect the security of your information during 
            transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input. 
            We transmit the entire credit card number to the appropriate credit card company during order 
            processing and it is fully encrypted. We do not store your payment information. It is important 
            for you to protect against unauthorised access to your password and to your computer. Be sure 
            to sign off when finished using a shared computer.
        </p>

        <h3 class="text-ty-h4 mb-5 font-bold">Conditions of Use, Notices, and Revisions</h3>
        <p class="text-ty-p mb-32">
            If you choose to visit our website , your visit and any dispute over privacy is subject 
            to this Notice and our conditions of use, including limitations on damages, resolution of 
            disputes, and application of the law. If you have any concern about privacy at, please contact 
            us with a thorough description, and we will try to resolve it. Unless stated otherwise, our 
            current Privacy Notice applies to all information that we have about you and your account. We 
            stand behind the promises we make, however, and will never materially change our policies and 
            practices to make them less protective of customer information collected in the past without the 
            consent of affected customers.
        </p>

    </div>
</main>